# Core
fastapi
uvicorn[standard]
pydantic
python-multipart

# LangChain
langchain
langchain-openai
openai





# Base de données
sqlalchemy
alembic
psycopg2-binary

# Services
redis
celery

# Audio/Vidéo
speechrecognition
pyttsx3
pyaudio
opencv-python
pillow

# Utilitaires
python-dotenv
jinja2
aiofiles
python-jose[cryptography]
passlib[bcrypt]